{% extends "base.html" %}
{% block content %}

<div class="container text-center">

    <h1 class="jumbotron-heading">CharityX.AI</h1>
    <p class="lead text-muted">An Innovative solution to age old donation problems.
        Works
        without internet.</p>
    <p class="align-items-center">
        <a href="{% url 'accounts:signup' %}" class="btn btn-lg btn-block btn-outline-primary">
            Give Right Now
        </a>
    </p>
</div>

<div class="album py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                        alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="https://media.fox10phoenix.com/media.fox10phoenix.com/photo/2018/12/26/KSAZ%20government%20shutdown%20122618_1545869999569.png_6558157_ver1.0_640_360.jpg"
                        data-holder-rendered="true">
                    <div class="card-body">
                        <p class="card-text"><strong>Government Shutdown</strong></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <small class="text-muted">Help people affected by shutdown</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                        alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="https://cdn.images.express.co.uk/img/dynamic/78/590x/Venezuela-crisis-1086350.jpg?r=1550043330408"
                        data-holder-rendered="true">
                    <div class="card-body">
                        <p class="card-text"><strong>Any Crisis</strong></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <small class="text-muted">Help people in crisis</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                        alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="https://r.hswstatic.com/w_907/gif/hurricane-predictions.jpg"
                        data-holder-rendered="true">
                    <div class="card-body">
                        <p class="card-text"><strong>Hurricane</strong></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <small class="text-muted">Help people in any hurricane</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}